@font-face {
  font-family: 'Space Grotesk Variable';
  src: url('/assets/fonts/SpaceGrotesk-Variable.ttf');
}

@font-face {
  font-family: 'Inter Variable';
  src: url('/assets/fonts/Inter-Variable.ttf');
}
