@font-face {
  font-family: 'IBMPlexMono light';
  src: url('~/assets/fonts/IBMPlexMono-Light.ttf');
}

@font-face {
  font-family: 'IBMPlexMono Regular';
  src: url('~/assets/fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexMono Medium';
  src: url('/assets/fonts/IBMPlexMono-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexMono SemiBold';
  src: url('/assets/fonts/IBMPlexMono-SemiBold.ttf');
}

@font-face {
  font-family: 'IBMPlexMono Bold';
  src: url('/assets/fonts/IBMPlexMono-Bold.ttf');
}
