:root {
  --nb-column: 6;
  --grid: repeat(var(--nb-column), 1fr);
  --primary-font: 'Space Grotesk Variable';
  --secondary-font: 'Inter Variable';
}


%grid-6 {
  display: grid;
  grid-template-columns: var(--grid);
  grid-template-rows: max-content;
}

%grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
}

%title-base {
  font-family: sans-serif;
  min-height: 0vw; // Fix clamp() bug on safari
}

%title-1 {
  @extend %title-base;
  font-family: var(--primary-font);
  font-variation-settings: "wght" 600;
  font-size: clamp(2rem, 8vw, 13rem);
  line-height: 1.1;
  color: var(--orange);
  white-space: nowrap;
}

%title-1--big {
  @extend %title-base;
  @extend %title-1;
  font-size: clamp(3rem, 10vw, 13rem);
  letter-spacing: -3px;
}

%title-2 {
  @extend %title-base;
  font-family: var(--primary-font);
  font-variation-settings: "wght" 600;
  font-size: clamp(1.6rem, 3vw, 10rem);
  line-height: 1.2;
  color: var(--blue);
  white-space: nowrap;
}

%title-4 {
  font-family: var(--secondary-font);
  font-variation-settings: "wght" 550;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.2;
  color: var(--blue);
}

%title-5 {
  @extend %title-base;
  font-family: var(--secondary-font);
  font-variation-settings: "wght" 550;
  font-size: 1.1rem;
  line-height: 1.2;
  color: var(--orange);
}

%text-body {
  font-family: var(--secondary-font);
  font-variation-settings: "wght" 450;
  font-size: 1.3rem;
  line-height: 1.35;
  color: var(--blue);
}

%text-body-small {
  font-family: var(--secondary-font);
  font-variation-settings: "wght" 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--blue);
}
