:root {
    --grid: repeat(6,1fr)
}

%grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;  
}

%grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;  
}

%title-base {
    font-family: sans-serif;
    min-height: 0vw; // Fix clamp() bug on safari
}

%title-1 {
    @extend %title-base;
    font-size: clamp(1.7rem, 8vw, 13rem);
    font-weight: 500;
}