:root {
  --nb-column: 6;
  --grid: repeat(var(--nb-column), 1fr);
}

%grid-6 {
  display: grid;
  grid-template-columns: var(--grid);
  grid-template-rows: max-content;
}

%grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
}

%title-base {
  font-family: sans-serif;
  min-height: 0vw; // Fix clamp() bug on safari
}

%title-1 {
  @extend %title-base;
  font-family: 'IBMPlexMono SemiBold';
  font-size: clamp(1.7rem, 8vw, 13rem);

  letter-spacing: -4px;
  line-height: 1.2;
  color: var(--orange);
  white-space: nowrap;
}

%title-2 {
  @extend %title-base;
  font-family: 'IBMPlexMono medium';
  font-size: clamp(1.5em, 3.5vw, 10rem);

  letter-spacing: -4px;
  line-height: 1.2;
  color: var(--blue);
  white-space: nowrap;
}

%title-4 {
  @extend %title-base;
  font-family: 'IBMPlexMono Medium';
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.2;
  color: var(--blue);
}

%title-5 {
  @extend %title-base;
  font-family: 'IBMPlexMono Medium';
  font-size: 1.1rem;
  letter-spacing: -1px;
  line-height: 1.2;
  color: var(--orange);
}

%text-body {
  font-family: 'IBMPlexMono Medium';
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: var(--blue);
}

%text-body-small{
  font-family: 'IBMPlexMono Regular';
  font-size: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: var(--blue);
}
